extends layout.pug
block appContent
    h2 Account list of #{article.length}
    table.table.table-condensed
        thead
            tr
                th No.
                th Name
                th ETH Account
        tbody
            - for(var x=0;x<article.length;x++)
                tr
                    td #{x+1}
                    td 
                        a(href="/account/"+article[x]._id) #{article[x].name}
                    td #{account[x]}
    br