extends layout.pug
block appContent
    h2 Account list of #{articles.length}
    table.table.table-condensed
        thead
            tr
                th No.
                th Name
                th ETH Account
        tbody
            - for(var x=0;x<articles.length;x++)
                tr
                    td #{x+1}
                    td 
                        a(href="/info/"+articles[x]._id) #{articles[x].name}
                    td #{accounts[x]}
    br