extends layout.pug
block appContent
    fieldset
        legend Personal information:
        |   First name:
        input(type='text', name='firstname')
        |   Last name:
        input(type='text', name='lastname')
        br
        |   Address
        input(type='text', name='address')
        br
        input(type='submit', value='Submit')