extends layout
block content
    center
        h2 Add Company
    form(method='POST', action='/companys/add')
        h3 Company Information
        #form-group
            label Company Code:
            input.form-control(name='CompanyCode', type='text')
            label Company Group:
            input.form-control(name='CompanyGroup', type='text')
            label TaxID:
            input.form-control(name='TaxID', type='text')
            label Name Thai:
            input.form-control(name='NameThai', type='text')
            label Name English:
            input.form-control(name='NameEnglish', type='text')
            label Business Type:
            input.form-control(name='BusinessType', type='text')
        br
        h3 Company Location
        #form-group
            label Address:
            input.form-control(name='Address', type='text')
            label Building:
            input.form-control(name='Building', type='text')
            label Soi:
            input.form-control(name='Soi', type='text')
            label Street:
            input.form-control(name='Street', type='text')
            label Tumbol:
            input.form-control(name='Tumbol', type='text')
            label District:
            input.form-control(name='District', type='text')
            label Province:
            input.form-control(name='Province', type='text')
            label Zip Code:
            input.form-control(name='ZipCode', type='text')
        br
        h3 Upload Company Document
        #form-group
            label(for='file') file input
            input#file.form-control-file(type='file' name='CompanyDocument')
        br
        h3 Ethereum Account
        #form-group
            label Ethereum Account:
            input.form-control(name='ETHAccount', type='text')
        br
        center
            input.btn.btn-primary(type='submit',value='Submit')
            a.btn.btn-danger(href='../', role='button') Cancel
