doctype html
html(lang="eng")
    head
        title SCF Blockchain 
    body
        h1 SCF Blockchain
        block appContent
        br
        hr
        footer
            center
                p Copyright &copy; 2017