doctype html
html(lang="eng")
    head
        title SCF Solution
        link(rel='stylesheet' href='/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        h1 SCF Solution
        .container
            block appContent
            br
            hr
            footer
                center
                    p Copyright &copy; 2017
        script(src='/js/jquery-3.2.1.min.js')
        script(src='/js/bootstrap.js')
        script(src='/js/main.js')