extends layout
block content
    center
        h2 Login
    form(method='POST', action='/users/login')
        #form-group
            label Username:
            input.form-control(name='username',type='text')
        #form-group
            label Password:
            input.form-control(name='password',type='password')
        br
        center
            input.btn.btn-primary(type='submit',value='Submit')
            a.btn.btn-secondary(href='../', role='button') Back